<h1>Hello</h1>

<% if flash[:error] %>
    <% flash[:error].each do |message| %>
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_with url: '/user', method: :post do |f| %>
    <%= f.label :username, "Username" %>
    <%= f.text_field :username %>
    <%= f.label :email, "email" %>
    <%= f.text_field :email %>
    <%= f.label :password, "password" %>
    <%= f.text_field :password %>
    <%= f.submit %>
<% end %>

